<h1>Products</h1>

<% if notice %>
  <div class="alert alert-success text-center" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<%= link_to 'Create a New Product', new_product_path %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Date Created</th>
      <th>Date Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= link_to "#{product.name}", product_path(product) %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.created_at %></td>
      <td><%= product.updated_at %></td>

    </tr>
    <% end %>
  </tbody>

</table>
