
<div class="page header">
  <p>
  <% if notice %>
    <div class="alert alert-success text-center" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
</p>

  <h2><%= @product.name %></h2>

</div>
<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><%= @product.description %></td>
      <td><%= @product.price %></td>
      <td><%= link_to 'Edit', edit_product_path(@product) %>
      <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  </tbody>

</table>
